.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
}

.status {
  font-size: 1.6em;
  color: red;
}

button {
  border: 1px solid black;
}

button + button {
  margin-left: 1em;
}
